<a href="javascript:void(0)" class="search">Search</a>

<div class="searchBox well" style="display:none;">

  <form class="navbar-search pull-left">
    <input type="text" class="search-query search" placeholder="Search">
  </form>
</div>

<h1 id="header"><%= header %> </h1>

<div id="events-list">
</div>

<br/>

<a href="#/new">New Event</a>