<a href="javascript:void(0)" class="search">Search</a>

<div class="searchBox" style="display:none">
  <input type="search" class="search"/>
  <button class="search">Go</button>
</div>

<h1 id="header"><%= header %> </h1>

<div id="events-list">
</div>

<br/>

<a href="#/new">New Event</a>